/* Global Style */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    color: #1b80a8;
}
a:hover {
    text-decoration: none;
}

.content-wrap {
    /*width: 950px; /*kalo pake width contentnya nanti keluar jalur pas resize*/
    max-width: 950px;
    margin: 0 auto;
    overflow: auto;
    padding: 2%;
}

.col-narrow {
    width: 30%;
    float: left;
    /* border: 1px solid black; */
    min-height: 175px;
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 50px;
    /* border: 1px solid black; */
    min-height: 175px;
}

/* Header and Footer */
.profile-img {
    border-radius: 50%;
}
header, footer {
    background: #2B2D42;
    color: #EDF2F4;
}
header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Work Experience */
.work {
    background: #EDF2F4;
}
