/* Global Style */
body {

}
a {
    color: #1b80a8;
}
a:hover {
    text-decoration: none;
}

.content-wrap {
    width: 950px; /*kalo pake width contentnya nanti keluar jalur pas resize*/
    max-width: 950px;
    margin: 0 auto;
}

/* Header and Footer */
header, footer {
    background: #2B2D42;
    color: #EDF2F4;
}
header h1, header h2 {
    color: #EDF2F4;
}

/* Work Experience */
.work {
    background: #EDF2F4;
}
